<div class="jumbotron">
<%= form_for @signup, :url => { :action => "create" } do |f| %>
    <div class="field">
    <h1 style="font-family: 'Lobster', cursive;">Let's keep in touch !!</h1>
    <h2 style="font-family: 'Dosis', sans-serif; class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Leave me your Email id </h2>
    	 
    	<%= f.text_area :email %><br><br>
    	
    	<div class="submit">
     <%= f.submit "Confirm",class: 'btn btn-info' do %><img src="/assets/ic_remove_red_eye_white_24dp_1x.png" class="eye"><span style="color:#EEEEEE; padding-left:3px;opacity: 1.0"></span><% end -%>
     </div>
     <% end %>
     </div>
    </div>

    