<div class="main">
	
	
	
	<div class="jumbotron" id="about">
		<div class="about_me"><img src="/assets/sani2.jpg"><p style="color:#000000;">Hello, I am Sanidhya Tandon, a web designer, Rails developer and a technology enthusiast. I have been into web designing and have developed some <%=link_to "apps", list_path%> in Rails framework written in ruby language. </p><strong><h2 style="color:#424242">A little more about me. Like anyone cares.</h2></strong></h2><p style="color:#000000L.?>">I am an optimistic person,highly communicable, love to make freinds.I am a sports enthusiast and fitness is an important part of my life.</p><br><b><h2 style="color:#000000;font-size:35px">CHECK MY RESUME<a href="Resume.pdf" class="btn btn-success" style="margin-left:20px"><span class="glyphicon glyphicon-hand-right"></span> Resume  </a></h2></b>
		</div>
		</div>
		</div>