<div class="main">
	
	
	
	<div class="jumbotron" id="about">
		<div class="about_me"><img src="/assets/sani2.jpg" id="about"><p style="color:#000000;">Hello, I am Sanidhya Tandon, a web designer, Rails developer and a technology enthusiast. I have been into web designing and have developed some <%=link_to "apps", list_path%> in Rails framework written in ruby language. <br><br><a href="A little more about me. Like anyone cares." class="not-active"><strong>A little more about me. Like anyone cares!!</strong></a><br><p style="color:#D50000"><span style="background-color: #000000">I am an optimistic person,highly communicable, love to make freinds.I am a sports enthusiast and fitness is an important part of my life.</span></p><br><b><h2 style="color:#FFFFFF;font-size:35px">CHECK MY RESUME<a href="Resume.pdf" class="btn btn-success" style="margin-left:20px"><span class="glyphicon glyphicon-hand-right"></span> Resume  </a></h2></b>
		</div>
		</div>
		</div>