<div class="main">
    
    
    
    <div class="jumbotron" id="about">
        <div id="border-image">
            <img src="/assets/sani2.jpg" />
            <p class="featuretext"><span class = "dropcap">S</span>anidhya Tandon

            	
            </p>
                
            </div>
        </div>
    </div>
