<div class="jumbotron" id="contact">
	<div class="container_contact">
		<header class="entry-header">
			<h1 class="entry-title" >Contact Me</h1>
		</header>
		<div class="onecol col-xs-4 col-sm-3cols ">
			<h3><b>RING RING</b></h3>
			<p id="desc"><b>Not a fan of email? Need instant gratification? Give me a call at:</b></p>
			<a href="tel:+918527348247"><b>+91 8527348247</b></a>
		</div>
		<div class="onecol col-xs-4 col-sm-3cols ">
			<h3><b>Electronic Mail</b></h3>
			<p id="desc"><strong>Not interested in our handy form? Skip it and email us directly at:</strong></p>
			<a href="mailto:sanidhya.tandon@gmail.com"><b>sanidhya.tandon@gmail.com</b></a>
		</div>
		<div class="onecol_last col-xs-4 col-sm-3cols">
			
			<h3><b>Map Me<br></b></h3>
			<p id="desc"><b>Plot No. 2C/2,<br> Knowledge Park-111,<br>Greater Noida (U.P.)<br> 201308</b></p>
			
		</div>
	</div>
</div>