
<div class="main">
    
    
    
    <div class="jumbotron">
        <div id="circle-shape-example">
            <img src="/assets/sani.jpg" class="curve"><h1 style="font-family: 'Anonymous Pro', sans-serif;
            color: #000000;font-size: 40px;opacity: 0.87">HI I'M SANIDHYA TANDON</h1>
            <div class="button">
                <%= link_to list_path, class: 'btn btn-info btn-lg  ' do %><img src="/assets/ic_remove_red_eye_white_24dp_1x.png" class="eye"><span style="color:#EEEEEE; padding-left:3px;opacity: 1.0">View my Work</span><% end -%>
                <a href="Resume.pdf" class="btn btn-success" img src="/assets/ic_remove_red_eye_white_24dp_1x.png" class="eye">View my Resume</a>
            </div>
        </div>
    </div>

    
    
    
 
