
<div class="main">
    
    
    
    <div class="jumbotron">
        <div id="circle-shape-example">
            <img src="/assets/sani.jpg" class="curve"><h1 style="font-family: 'Anonymous Pro', sans-serif;
            color: #424242;font-size: 40px">HI I'M SANIDHYA TANDON</h1>
            <div class="button">
                <%= link_to list_path, class: 'btn btn-info btn-lg  ' do %><img src="/assets/ic_remove_red_eye_white_24dp_1x.png" class="eye"><span style="color:#EEEEEE; padding-left:3px;">View my work</span><% end -%>
            </div>
        </div>
    </div>
    
    
    

