	<div class="projects">
	<div class="container">
		
		
		<div class="row" align="center">
		<h1 style="font-family: 'Anonymous Pro', sans-serif; color: #212121"><%= @projects.name %></h1>
		<%= image_tag @projects.image %>
		<p style="font-family: 'Raleway', sans-serif; color: #424242"><%= @projects.description %></p>
		</div>
	</div>
</div>






