<div class="footer">
	<div class="container">
	
		<ul class="social_media">
			<li>
				<a href="https://github.com/sanidhyatandon">
  <img src="/assets/github.png" alt="github"></a>
				</li>
				<li>
				<a href="https://www.facebook.com/sanidhya.tandon"><img src="/assets/facebook.png" alt="facebook"></a>
			</li>
			<li>
			<a href="https://instagram.com/wickedsani/"><img src="/assets/instagram.png" alt="instagram"></a>
			</li>
			<li>
			<a href="https://plus.google.com/102004209065620206453/posts"><img src="/assets/google.png" alt="google+"></a>
			</li>
			<li>
			<a href="https://dashboard.heroku.com/apps"><img src="/assets/heroku.png" alt="heroku"></a>
			</li>
		</ul>
		<p style="font-family:'Anonymous Pro', sans-serif; color:#000000"><b>&copy 2015 Sanidhya Tandon</b></p>
	</div>

</div>
